body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  label, input, select, button {
    display: block;
    margin-bottom: 10px;
    width: 100%; /* inputs and buttons will take up the full width of the form */
  }
  
  input[type="radio"] {
    width: auto; /* prevent radio buttons from taking up full width */
    margin: 0 5px 0 0;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* CSS for smaller screen sizes */
  @media screen and (max-width: 600px) {
    form {
      margin: 10px auto;
      padding: 10px;
    }
  
    button {
      padding: 5px 10px;
      font-size: 14px;
    }
  }
  